<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('includes/nav') %>
    <div class="container">
      <div class="header">
        <%- include('includes/messages') %>
        <h1>Seus agendamentos</h1>
      </div>

      <div class="responsive-table">
        <% if(schedules.length > 0) { %>
        <table class="table">
          <% schedules.forEach(schedules => { %>
          <tr class="custom-border">
            <td><%= schedules.name %></td>
            <td><%= schedules.phone %></td>
            <td><%= schedules.hour %></td>
            <td>
              <%= new Date(schedules.date).toLocaleDateString('pt-BR', { timeZone: 'UTC' }) %>
            </td>
            <td><a class="" href="/agendamento/edit/<%= schedules._id %>">Editar</a></td>
            <td><a href="/agendamento/delete/<%= schedules._id %>">Deletar</a></td>
          </tr>
          <% }); %>
        </table>
        <% } else { %>
        <p>Ainda não existem agendamentos</p>
        <% }%>
      </div>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>
