<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css" />
    <title>Novo agendamento</title>
  </head>
  <body>
    <%- include('includes/nav') %>
    <section class="container">
      <h1 class="text-center">Faça seu agendamento</h1>
      <%- include('includes/messages') %>
      <!-- Aqui nesse form eu estou passando o schedule._id que vem do banco de dados para a url, esse valor sera capturado no req.params.id que esta no controller -->

      <form
        class="forms"
        action="<%= schedule ? '/agendamento/edit/' + schedule._id : '/agendamento/create' %>"
        method="POST"
      >
        
        <input
          class="name"
          type="text"
          value="<%= schedule ? schedule.name : user.name  %>"
          name="name"
          placeholder="Nome"
        />
        <input
          class="number"
          type="number"
          value="<%= schedule ? schedule.phone : user.phone  %>"
          name="phone"
          placeholder="Numero do celular"
        />

        <select class="hour" name="hour">
          <%- include('includes/hourOptions') %>
        </select>

        <input
          class="date"
          type="date"
          value="<%= schedule ? schedule.date : user.date  %>"
          name="date"
          placeholder="Data do agendamento"
        />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit">Cadastrar</button>
      </form>
    </section>
    <script src="./frontend/validityDate.js"></script>
  </body>
</html>
